@charset "utf-8";

body {
        background-color: #964100;

        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}
h1 {

        color: #DDDDDD ;

        font-size: 32px;

        text-align:  center;
}
h2 {

        color:  #ffff00;

        text-align: center;

        font-size: 18;

        text-decoration: underline;

        font-weight: bolder;
}